In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import yfinance as yf

In [14]:
apple= yf.Ticker("aapl")

In [26]:
hist = apple.history(period='max')

In [27]:
hist.drop(['High', 'Low', 'Dividends', 'Stock Splits'], axis=1, inplace=True)
hist

              Open   Close     Volume
Date
1980-12-12    0.10    0.10  469033600
1980-12-15    0.10    0.10  175884800
1980-12-16    0.09    0.09  105728000
1980-12-17    0.09    0.09   86441600
1980-12-18    0.09    0.09   73449600
...            ...     ...        ...
2021-02-26  122.59  121.26  164320000
2021-03-01  123.75  127.79  115998300
2021-03-02  128.41  125.12  102015300
2021-03-03  124.81  122.06  112430400
2021-03-04  121.75  120.13  164527934

[10141 rows x 3 columns]

In [28]:
hist = hist.rename(columns={'Open': "aaple" + 'Open', 'Close': "aaple" + 'Close', 'Volume': "aaple" + 'Volume'})

            aapleOpen  aapleClose  aapleVolume
Date
1980-12-12       0.10        0.10    469033600
1980-12-15       0.10        0.10    175884800
1980-12-16       0.09        0.09    105728000
1980-12-17       0.09        0.09     86441600
1980-12-18       0.09        0.09     73449600
...               ...         ...          ...
2021-02-26     122.59      121.26    164320000
2021-03-01     123.75      127.79    115998300
2021-03-02     128.41      125.12    102015300
2021-03-03     124.81      122.06    112430400
2021-03-04     121.75      120.13    164527934

[10141 rows x 3 columns]

In [34]:
ticker = "TQQQ"
temp = yf.Ticker(ticker)
hist_temp = temp.history(period='max')
if hist_temp.shape[0] >= 500:
    hist_temp.drop(del_col, axis=1, inplace=True)
    hist = hist.rename(
        columns={'Open': ticker + '_Open', 'Close': ticker + '_Close', 'Volume': ticker + '_Volume'})

In [33]:
del_col = ['High', 'Low', 'Dividends', 'Stock Splits']

In [35]:
hist

            TQQQ_Open  TQQQ_Close  TQQQ_Volume
Date
1980-12-12       0.10        0.10    469033600
1980-12-15       0.10        0.10    175884800
1980-12-16       0.09        0.09    105728000
1980-12-17       0.09        0.09     86441600
1980-12-18       0.09        0.09     73449600
...               ...         ...          ...
2021-02-26     122.59      121.26    164320000
2021-03-01     123.75      127.79    115998300
2021-03-02     128.41      125.12    102015300
2021-03-03     124.81      122.06    112430400
2021-03-04     121.75      120.13    164527934

[10141 rows x 3 columns]