In [1]:
import yfinance as yf
import numpy as np
import torch

In [2]:
from datetime import datetime

In [3]:
START = datetime(1990,1,1)
END = datetime(2020,6,5)

UVXY = yf.Ticker('UVXY')
hist = UVXY.history(start=START, end=END)

In [4]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2011-10-04,2.427000e+08,2.448000e+08,2.058000e+08,2.058000e+08,0,0,0.0
2011-10-05,1.974600e+08,1.989000e+08,1.813800e+08,1.813800e+08,0,0,0.0
2011-10-06,1.811400e+08,1.878000e+08,1.740000e+08,1.740000e+08,0,0,0.0
2011-10-07,1.705800e+08,1.857600e+08,1.684800e+08,1.765200e+08,0,0,0.0
2011-10-10,1.654800e+08,1.656000e+08,1.559400e+08,1.559400e+08,0,0,0.0
...,...,...,...,...,...,...,...
2020-05-29,3.571000e+01,3.685000e+01,3.353000e+01,3.357000e+01,15695900,0,0.0
2020-06-01,3.478000e+01,3.500000e+01,3.354000e+01,3.385000e+01,8584400,0,0.0
2020-06-02,3.360000e+01,3.422000e+01,3.241000e+01,3.249000e+01,12217800,0,0.0
2020-06-03,3.147000e+01,3.174000e+01,3.014000e+01,3.040000e+01,13259900,0,0.0
2020-06-04,3.062000e+01,3.107000e+01,2.866000e+01,2.998000e+01,12857100,0,0.0

In [5]:
def split_sequence(sequence, n_steps):
    X, y = list(), list()
    for i in range(len(sequence)):
        end_ix = i + n_steps
        if end_ix > len(sequence):
            break
        seq_x, seq_y = sequence[i:end_ix, :-1], sequence[end_ix-1, -1]
        X.append(seq_x)
        y.append(seq_y)
    
    return np.array(X), np.array(y)