In [1]:
import os
import yfinance as yf
from datetime import datetime
import pandas as pd
import pytz
import logging
import numpy as np
import plotly.graph_objects as go
from PIL import Image

import matplotlib.pyplot as plt

import torchvision.transforms as transforms
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from torch.autograd import Variable

from torch.optim import Adam, SGD
import gc

from ResNet_CNN import *

import math as m
import torch
from torch.nn import Linear, ReLU, Conv1d, Conv2d, Flatten, Sequential, CrossEntropyLoss, MSELoss, MaxPool1d, MaxPool2d, Dropout, BatchNorm1d, BatchNorm2d

from torch.optim import Adam
from torch import nn
import torchvision
from functools import partial
from collections import OrderedDict

import torchvision.models as models

from torchsummary import summary

In [2]:
dta = pd.read_csv('SP500.csv')

In [7]:
dta['Date'] = pd.to_datetime(dta['Date'],format = '%Y-%m-%d')

In [8]:
dta = dta.set_index(dta['Date'])

In [10]:
dta.drop(['Date'], axis=1, inplace=True)

In [13]:
dta.SPY.first_valid_index()

Timestamp('1993-01-29 00:00:00')

In [15]:
dta = dta[dta.index >= datetime(1993, 1, 29)]

In [16]:
dta

,NKE,DDS,IPG,LLY,MTG,NAVI,WY,CI,PLU,WTR,...,VAL,EMR,WU,AVP,TEX,XOM,TPR,TER,BLK,SPY
Date,,,,,,,,,,,,,,,,,,,,,
1993-01-29,0.14,40.78,6.37,4.05,11.29,NaN,17.35,3.42,NaN,0.17,...,7.9348,3.64,NaN,1.45,4.37,3.48,NaN,3.42,NaN,26.30
1993-02-01,0.14,40.26,6.42,4.01,11.56,NaN,17.56,3.55,NaN,0.17,...,7.5570,3.64,NaN,1.49,4.55,3.50,NaN,3.27,NaN,26.49
1993-02-02,0.14,40.68,6.19,3.96,11.67,NaN,17.62,3.54,NaN,0.17,...,7.9348,3.62,NaN,1.50,4.66,3.54,NaN,3.24,NaN,26.54
1993-02-03,0.14,42.45,6.47,4.04,11.81,NaN,17.56,3.66,NaN,0.18,...,7.9348,3.69,NaN,1.52,4.61,3.56,NaN,3.45,NaN,26.82
1993-02-04,0.15,42.45,6.47,4.03,12.03,NaN,17.83,3.73,NaN,0.18,...,7.5570,3.78,NaN,1.52,4.78,3.70,NaN,3.51,NaN,26.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-11,90.93,26.96,16.69,157.81,7.14,7.35,19.35,188.99,NaN,NaN,...,0.3900,55.48,19.31,NaN,13.81,44.87,13.92,63.11,493.11,292.50
2020-05-12,88.26,25.22,16.13,156.98,6.73,7.04,18.20,189.56,NaN,NaN,...,0.3700,52.93,18.87,NaN,12.98,44.12,13.19,61.30,454.44,286.67
2020-05-13,86.02,24.03,15.13,157.19,6.45,6.43,17.05,181.01,NaN,NaN,...,0.3500,51.40,18.32,NaN,12.48,41.93,11.93,59.73,485.80,281.60
2020-05-14,86.55,23.08,15.36,158.38,6.78,6.81,17.38,184.46,NaN,NaN,...,0.3300,53.38,18.38,NaN,13.05,42.30,12.41,61.39,498.20,284.97
2020-05-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
ticker_universe = list(set(dta.columns))

In [22]:
ticker_universe.remove('SPY')

In [23]:
len(ticker_universe)

574

In [26]:
sub_dta = dta.iloc[20:40]

In [48]:
next_dta = dta.iloc[40:60]

In [45]:
ranking = sub_dta.apply(lambda x: (x[-1] - x[0])/x[0])

select_tic = ranking.dropna().sort_values()[:10].index.to_list()

In [50]:
select_tic

['IAC', 'WDC', 'BSX', 'NAV', 'EPHC', 'GILD', 'BIIB', 'MNST', 'MRK', 'LLY']

In [92]:
(np.array(next_dta_tic) @ weight)[-1]

49257.619999999995

In [91]:
test = np.array([])

test = np.append(test, np.array(next_dta_tic) @ weight)

test

array([49957.6 , 49708.81, 50044.06, 50076.9 , 49207.8 , 49544.62,
       48183.11, 48684.33, 47839.32, 48062.59, 47718.83, 47606.56,
       47939.44, 48236.43, 47883.82, 48070.11, 48340.91, 49019.02,
       49380.09, 49257.62])

In [56]:
total_eq // 10

5000.0

In [88]:
5000 / np.array(next_dta_tic.iloc[0])

array([ 5102.04081633,  2164.5021645 ,  1366.12021858,   200.08003201,
         297.26516052, 16129.03225806,  5208.33333333, 71428.57142857,
         830.56478405,  1424.5014245 ])

In [70]:
weight = (5000 / np.array(next_dta_tic.iloc[0])).round()

In [89]:
next_dta_tic = next_dta[select_tic]

In [29]:
sub_dta

,NKE,DDS,IPG,LLY,MTG,NAVI,WY,CI,PLU,WTR,...,VAL,EMR,WU,AVP,TEX,XOM,TPR,TER,BLK,SPY
Date,,,,,,,,,,,,,,,,,,,,,
1993-03-01,0.12,35.58,5.76,3.89,12.28,NaN,17.51,3.36,NaN,0.21,...,8.6905,3.93,NaN,1.61,5.07,3.81,NaN,3.39,NaN,26.51
1993-03-02,0.13,36.20,5.69,3.95,12.45,NaN,17.83,3.38,NaN,0.21,...,9.0684,3.95,NaN,1.66,5.13,3.85,NaN,3.48,NaN,26.90
1993-03-03,0.13,36.20,5.67,3.93,12.67,NaN,18.35,3.38,NaN,0.21,...,8.3127,4.00,NaN,1.72,5.31,3.82,NaN,3.45,NaN,27.01
1993-03-04,0.12,35.89,5.67,3.88,12.53,NaN,18.24,3.35,NaN,0.21,...,8.3127,3.97,NaN,1.70,5.36,3.84,NaN,3.45,NaN,26.86
1993-03-05,0.12,37.24,5.67,3.86,12.58,NaN,18.40,3.33,NaN,0.21,...,8.3127,3.92,NaN,1.69,5.25,3.77,NaN,3.62,NaN,26.79
1993-03-08,0.14,37.66,5.86,3.96,12.89,NaN,18.92,3.40,NaN,0.21,...,9.0684,3.97,NaN,1.71,5.19,3.85,NaN,3.48,NaN,27.38
1993-03-09,0.13,36.93,5.79,3.95,13.22,NaN,18.87,3.44,NaN,0.21,...,10.5797,3.99,NaN,1.72,5.01,3.82,NaN,3.42,NaN,27.29
1993-03-10,0.14,36.72,5.74,3.99,13.16,NaN,18.66,3.43,NaN,0.21,...,10.2019,4.06,NaN,1.73,4.90,3.81,NaN,3.48,NaN,27.35
1993-03-11,0.13,37.04,5.65,3.95,12.97,NaN,17.93,3.47,NaN,0.21,...,10.2019,4.04,NaN,1.72,4.90,3.78,NaN,3.56,NaN,27.27
1993-03-12,0.13,37.04,5.84,3.88,12.83,NaN,17.20,3.36,NaN,0.21,...,10.5797,4.02,NaN,1.73,4.90,3.73,NaN,3.68,NaN,26.99
1993-03-15,0.14,36.41,6.07,3.80,12.78,NaN,17.83,3.38,NaN,0.21,...,10.2019,4.06,NaN,1.74,4.96,3.77,NaN,3.86,NaN,27.12
1993-03-16,0.14,36.20,5.98,3.65,12.89,NaN,17.46,3.42,NaN,0.21,...,10.9576,4.02,NaN,1.73,4.90,3.82,NaN,3.95,NaN,27.12
1993-03-17,0.14,36.00,5.84,3.58,12.20,NaN,17.56,3.43,NaN,0.22,...,10.9576,4.05,NaN,1.72,5.13,3.82,NaN,3.92,NaN,26.95
1993-03-18,0.14,37.04,5.88,3.60,12.56,NaN,17.83,3.47,NaN,0.22,...,10.5797,4.07,NaN,1.71,5.07,3.87,NaN,3.98,NaN,27.12
1993-03-19,0.14,37.04,5.88,3.54,12.80,NaN,17.67,3.54,NaN,0.22,...,10.2019,4.04,NaN,1.71,5.01,3.85,NaN,3.89,NaN,27.08
1993-03-22,0.14,36.93,5.81,3.47,12.64,NaN,18.24,3.54,NaN,0.22,...,10.9576,4.06,NaN,1.66,4.96,3.87,NaN,3.89,NaN,26.93
1993-03-23,0.14,35.79,5.91,3.54,12.64,NaN,18.30,3.53,NaN,0.22,...,11.3354,4.04,NaN,1.61,5.07,3.85,NaN,3.83,NaN,26.99
1993-03-24,0.14,35.06,6.10,3.46,12.45,NaN,18.45,3.50,NaN,0.22,...,10.9576,4.09,NaN,1.63,4.96,3.88,NaN,3.77,NaN,26.99
1993-03-25,0.14,34.87,5.98,3.44,12.67,NaN,18.66,3.47,NaN,0.22,...,12.0911,4.06,NaN,1.63,5.01,3.91,NaN,3.71,NaN,27.16
1993-03-26,0.14,35.39,6.03,3.40,12.69,NaN,18.30,3.44,NaN,0.22,...,14.7361,3.99,NaN,1.64,4.90,3.89,NaN,3.65,NaN,27.01

In [79]:
cycle = 20
N_portfolio = 10
total_eq = 5e4

portfolio_hist = np.array([total_eq])

T = dta.shape[0] // cycle
T

344

In [81]:
for t in range(1, T-1):
    sub_dta = dta.iloc[(t-1)*cycle : t*cycle]
    ranking = sub_dta.apply(lambda x: (x[-1] - x[0])/x[0])
    select_tic = ranking.dropna().sort_values()[:10].index.to_list()
    next_dta = dta.iloc[t*cycle : (t+1)*cycle][select_tic]
    
    eq = total_eq // N_portfolio
    weight = (eq / np.array(next_dta.iloc[0])).round()
    temp_hist = np.array(next_dta) @ weight
    total_eq = temp_hist[-1]
    
    portfolio_hist = np.append(portfolio_hist, temp_hist)

C:\Users\Andyy\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: RuntimeWarning:

divide by zero encountered in true_divide

C:\Users\Andyy\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: RuntimeWarning:

invalid value encountered in matmul

C:\Users\Andyy\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning:

invalid value encountered in double_scalars

C:\Users\Andyy\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning:

divide by zero encountered in double_scalars

KeyboardInterrupt: